In [27]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.mlab as mlab 
import warnings 
warnings.filterwarnings('ignore')

In [28]:
df = pd.read_csv("data_999.csv")
df

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
0,4,28,3890,4,25,2122,2,16,1944,4,...,16,1,1,1,12,1,10,2,1,2
1,4,2,8118,1,36,2890,2,35,4777,3,...,16,2,1,2,7,0,70,2,1,4
2,3,7,5784,1,33,4373,4,41,3242,1,...,17,2,1,1,4,3,60,1,1,3
3,2,23,5081,3,11,6837,2,37,5521,1,...,13,2,1,2,4,5,70,2,1,5
4,2,36,3215,2,13,7731,3,5,4156,4,...,19,2,2,3,10,1,10,2,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,3,26,7445,2,17,2154,4,3,3071,2,...,16,1,1,1,7,4,60,2,1,5
995,4,22,4834,2,16,3973,4,37,2942,1,...,25,2,1,1,2,1,10,1,1,3
996,2,1,2366,3,16,5125,2,3,16366,4,...,16,1,1,1,2,2,70,2,1,4
997,3,20,14355,4,7,4727,4,1,13286,4,...,24,2,1,1,12,1,10,1,1,2
998,2,33,5861,1,5,6915,2,37,13753,2,...,31,2,1,1,7,1,60,2,1,1

In [29]:
df.isna().sum()

Q1A            0
Q1I            0
Q1E            0
Q2A            0
Q2I            0
              ..
orientation    0
race           0
voted          0
married        0
familysize     0
Length: 171, dtype: int64

In [31]:
df.describe()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,age,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,2.446446,21.755756,5396.042042,1.953954,21.674675,4128.198198,2.260260,22.000000,5473.644645,1.828829,...,25.312312,1.613614,1.068068,1.165165,4.512513,1.678679,52.682683,1.603604,1.249249,2.669670
std,1.039734,12.145923,20342.065091,1.069659,12.041897,6599.449329,1.050018,12.085699,11100.606434,1.020693,...,11.819050,0.487165,0.251989,0.458441,3.552299,1.184340,19.024570,0.511420,0.556378,1.520399
min,1.000000,1.000000,214.000000,1.000000,1.000000,208.000000,1.000000,1.000000,185.000000,1.000000,...,13.000000,1.000000,1.000000,0.000000,0.000000,0.000000,10.000000,0.000000,0.000000,0.000000
25%,2.000000,11.000000,2518.000000,1.000000,11.000000,2231.500000,1.000000,12.000000,2673.500000,1.000000,...,17.000000,1.000000,1.000000,1.000000,2.000000,1.000000,60.000000,1.000000,1.000000,2.000000
50%,2.000000,22.000000,3356.000000,2.000000,22.000000,3047.000000,2.000000,22.000000,3604.000000,1.000000,...,21.000000,2.000000,1.000000,1.000000,4.000000,1.000000,60.000000,2.000000,1.000000,2.000000
75%,3.000000,33.000000,4815.500000,3.000000,32.000000,4386.000000,3.000000,33.000000,5159.500000,2.000000,...,29.000000,2.000000,1.000000,1.000000,7.000000,2.000000,60.000000,2.000000,1.000000,3.000000
max,4.000000,42.000000,595299.000000,4.000000,42.000000,126646.000000,4.000000,42.000000,201526.000000,4.000000,...,85.000000,2.000000,2.000000,3.000000,12.000000,5.000000,70.000000,2.000000,3.000000,13.000000